[Unit]
Before=rmtfs.service

[Service]
ExecStart=/usr/bin/sdm845-fwload extract_device_fw
ExecStart=/usr/bin/sdm845-fwload extract_dsp_fw
ExecStart=bash -c 'echo -n /mnt/sdm-fwload/extract/libfirmware/ > /sys/module/firmware_class/parameters/path'
ExecStart=modprobe ipa
ExecStart=modprobe hci_uart

# Make sure SLPI remoteproc has started.
ExecStart=bash -c 'for f in /sys/class/remoteproc/remoteproc*; do if [[ "$(cat $f/name)" == "slpi" ]]; then echo start > $f/state; fi; done'

ExecStart=modprobe apr
ExecStart=modprobe wcd934x
ExecStart=modprobe soundwire-qcom
ExecStart=modprobe slim-qcom-ngd-ctrl
ExecStart=modprobe snd-soc-tfa98xx
ExecStart=modprobe q6voice

# Make sure ADSP remoteproc has started.
ExecStart=bash -c 'for f in /sys/class/remoteproc/remoteproc*; do if [[ "$(cat $f/name)" == "adsp" ]]; then echo start > $f/state; fi; done'

Type=oneshot
RemainAfterExit=yes
Restart=on-failure
