[Unit]
Description=USB gadget
After=modprobe@usbfunc:acm.service modprobe@usbfunc:ncm.service modprobe@libcomposite.service sys-kernel-config.mount
Requires=modprobe@usbfunc:acm.service modprobe@usbfunc:ncm.service modprobe@libcomposite.service sys-kernel-config.mount
Before=serial-getty@ttyGS0.service
DefaultDependencies=no
SurviveFinalKillSignal=yes

[Service]
RuntimeDirectory=usb-gadget
ExecStartPre=/usr/bin/usb-gadget-start
ExecStart=/usr/bin/dnsmasq -k -C /etc/dnsmasq-usb-network.conf -x ${RUNTIME_DIRECTORY}/dnsmasq.pid --dhcp-leasefile=${RUNTIME_DIRECTORY}/dnsmasq.lease
